<div class="burgers">
  <section class="HeaderSection">
    <div class="container">
      <div class="row headNavbar mb-5 mb-md-0">
        <nav class="navbar navbar-expand-lg navbar-light">
          <i class="fa-solid fa-bars fa-2x text-white mr-3 d-none d-sm-block"></i>
          <figure>
            <img src="../assets/images/Layer 111.png" alt="">
          </figure>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
            (click)="onclick()">
            <span class="navbar-toggler-icon"></span> </button>
          <div class="collapse navbar-collapse ml-5" [ngClass]="{'show':manu}" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active ">
                <a class="nav-link" href="#">Order <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Location</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Contact Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Add Your Restaurant</a>
              </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
              <button class="btn btn-outline-light my-2 my-sm-0 " type="button" id="signIn">Sign In</button>
              <button class="btn btn-outline-light signup my-2 my-sm-0 mx-2" type="button" id="signUp">Sign Up</button>
            </form>
          </div>
        </nav>
      </div>
      <div class="row heroInfo">
        <div class="col-md-6">
          <h1> Why Go Out When,</h1>
          <h1>You can Grubz in</h1>
          <div class="searchBar my-5">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Enter passcode or delivery address">
              <span>
                
                <i class="fa fa-location-arrow fa-2x"></i>
              </span>
              <span class="input-group-btn">
                <span class="btn btn searchBtn" type="submit">Search </span>
              </span>
            </div>
          </div>
          <div class="headInfo ">
            <div class="restroInfo">
              <h1>230</h1>
              <h3> Restaurents</h3>
            </div>
            <div class="userInfo">
              <h1>30,000</h1>
              <h3>Users</h3>
            </div>
          </div>
        </div>
        <div class="col-md-4 offset-md-2">
          <figure>
            <img src="../assets/images/Layer 1 (2).png" alt="">
          </figure>
        </div>
      </div>
    </div>
  </section>

  <section class="join-movement-sec">

    <div class="container">
      <div class="headings1">
        <h1>Join the</h1>
        <h1 class="my-4"> Movement</h1>
      </div>
      <div class="info">
        <p>Grow your business and reach new</p>
        <p>customer by partnering with us</p>
      </div>
      <button class="btn btn-danger signUpBtn mt-4">Sign Up Your Store</button>
    </div>
  </section>

  <section class="findRestaurent my-5">

    <div class="col-md-4 col-sm-12 mobileImg ">
      <figure class="text-center">
        <img src="../assets/images/60521e2f5c2d87bde47d42f8_hero-phone (1).png" alt="">
      </figure>
    </div>

    <div class="pizzaInfo">
      <div class="col-md-8 col-sm-12">
        <div class="">
          <h1>
            Everything you
          </h1>
          <h1 class="my-4">
            Crave, Delivered.
          </h1>
          <p>
            Get a pizza of curry delivered or pick up some chicken
          </p>
          <p>
            chow main from the chienese checkout spot you have been meaning to try.
          </p>
          <button class="btn btn-danger signUpBtn mt-4">Find Restaurant</button>
        </div>
      </div>
    </div>
  </section>

  <section class="find-perfect my-5">
    <div class="find-container">
      <div class="row familyPizza">
        <div class="col-md-4 offset-md-1 pizzaText">
          <h1>Find the perfect</h1>
          <h1 class="my-4">cuisine for you.</h1>
          <p>Start spiwing right for your taste buds - you'll soon find the cuisine</p>
          <p>that's a perfect match for your cravings.</p>
          <button class="btn  signUpBtn mt-4">Discover Cuisines</button>
        </div>
        <div class="col-md-6 pizzaImg my-5">
          <figure>
            <img src="../assets/images/familyEating Burger.webp" alt="">
          </figure>
        </div>
      </div>
    </div>
  </section>

  <section class="download-app">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-12 ">
          <figure>
            <img src="../assets/images/Background12 (1).png" alt="">
          </figure>
        </div>
        <div class="col-md-6 col-sm-12 downloadAppInfo">
          <h1> Download</h1>
          <h1>Our App </h1>
          <p>Our app give you access to your favoirate Restaurants.</p>
          <p> Get your food deliered right to yous.</p>
          <div class="icons">
            <figure>
              <img src="../assets/images/app-store-icon-png-14.png" alt="">

              <img src="../assets/images/1664287128google-play-store-logo-png.webp" alt="">
            </figure>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="location">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7550.594516987618!2d77.05169757194905!3d18.87388945082392!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcfcf001b61008b%3A0xb62fe5944d4db320!2sMalakoli%2C%20Maharashtra%20431708!5e0!3m2!1sen!2sin!4v1674199658329!5m2!1sen!2sin"
      allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
    </iframe>
    <div class="headMap">
      <h1> Restaurants Near Me</h1>
    </div>
  </section>

  <section class="viewCities">
    <div class="container">
      <h1>View all cities</h1>
      <div class="row ">
        <div class="col-md-3  col-sm-12 mb-5">
          <a href="javascript:;">Abedeen</a>
          <a href="javascript:;">Belfast</a>
          <a href="javascript:;">Birmingham</a>
          <a href="javascript:;">Brighton and Sussex</a>
          <a href="javascript:;">Cambridge and East Angalia</a>
          <a href="javascript:;">Cardiff</a>
        </div>
        <div class="col-md-3  col-sm-12 mb-5">
          <a href="javascript:;">Edinburgh</a>
          <a href="javascript:;">Glasgow</a>
          <a href="javascript:;">Hull</a>
          <a href="javascript:;">Leeds</a>
          <a href="javascript:;">Leiceser</a>
          <a href="javascript:;">London</a>
        </div>
        <div class="col-md-3  col-sm-12 mb-5">
          <a href="javascript:;">Manchester</a>
          <a href="javascript:;">MerSeyside</a>
          <a href="javascript:;">North East</a>
          <a href="javascript:;">Northampton</a>
          <a href="javascript:;">Milton Keynes</a>
          <a href="javascript:;">Nottingham</a>
        </div>
        <div class="col-md-3 col-sm-12 mb-5">
          <a href="javascript:;">Oxford</a>
          <a href="javascript:;">Sheffield</a>
          <a href="javascript:;">South Coast</a>
          <a href="javascript:;">South West</a>
          <a href="javascript:;">Stoke </a>
        </div>
      </div>
    </div>
  </section>

  <section class="footer-section">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-12">
          <h1>
            <img src="../assets/images/Go Grubz (1).png" alt="">
          </h1>
          <small class="small"> <i class="far fa-copyright"></i>2022 GoGrubz Ltd. All Rights Recerved</small>
        </div>
        <div class="col-md-8 col-sm-12 Grubz">
          <div class="col-md-4 ml-2">
            <a href="javascript:;">Get Help</a>
            <a href="javascript:;">Buy Gift Card</a>
            <a href="javascript:;">Add Your Restaurant</a>
            <a href="javascript:;"> Sign up to deliver</a>
            <a href="javascript:;">Create a business account</a>
            <a href="javascript:;">Promotions</a>
          </div>
          <div class="col-md-4 ">
            <a href="javascript:;">Restaurant near me</a>
            <a href="javascript:;">View all Cities</a>
            <a href="javascript:;">View all countries </a>
            <a href="javascript:;"> Pickup near me</a>
            <a href="javascript:;">About Us</a>
            <a href="javascript:;">English</a>
          </div>
          <div class="col-md-4  fllowup">
            <p><small>Follow Us</small> </p>
            <div class="">
              <i class="fa-brands fa-facebook fa-1x"></i>
              <i class="fa-brands fa-instagram fa-1x"></i>
              <i class="fa-brands fa-twitter fa-1x"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</div> 